email-validator
flask-cors
flask
dotenv
flask-restful
flask-sqlalchemy
gunicorn
psycopg2-binary
sqlalchemy
werkzeug
flask-socketio
Flask-Migrate
redis[hiredis]
flask-bcrypt
PyJWT
prometheus-client
flasgger
pika
pytest
pytest-html
python-socketio[client]
flake8
black
minio
cloudinary
pytest-order
